#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  input{
    padding: 10px 10px;
    font-size: 40px
  }

  #final{
    background-color: whitesmoke;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    font-size: 60px;
    padding: 10px 20px;
  }
